@page
@model IndexModel
@{
    //int totalPages = (int)ViewData["TotalPages"];
    //int currentPage = (int)ViewData["CurrentPage"];
    int totalPages = ViewBag.TotalPages;
    int currentPage = ViewBag.CurrentPage;

}

<div class="container">
    @foreach (var item in Model.FeedsDetails)
    {
        <div class="row">
            <div class="col col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@item.Title</h4>
                        <div class="text-center">
                            <a href="/XMLParser?link=@item.Link" target="_blank" class="btn btn-primary">Read Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col col-md-12">
            <nav>
                <ul class="pagination justify-content-center">
                    @for (int i = 1; i <= totalPages; i++)
                    {
                        <li class="page-item @(i == currentPage ? "active" : "")">
                            <a class="page-link" href="/Index?page=@i">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

